$darkRed: #56012e;
$inputBackground: #ffffff82;
$background: #E5DEE1;
$white: #fff;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: $background;

}
a {
  text-decoration: inherit;
}

a:focus,
a:focus-visible {
  outline: 1px dashed black;
  outline-offset: 3px;
  border-radius: 1px;
}

a:hover {
  color: $darkRed,
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  
  :hover {
    border-color: $darkRed;
  }
}

button.Mui-focusVisible {
  outline: 1px dashed black;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #000;
    background-color: $white;
  }
  a:hover {
    color: $darkRed;
  }
  button {
    background-color: #f9f9f9;
  }
}


  .ff-button-bar {
    button {
      background-color: $darkRed !important;
    }

   a.ff-powered-img {
      display: none !important;
      height: 0 !important;
      overflow: hidden;
    }
  }
  
  .ff-description {
  padding-top: 20px !important;
  align: center !important;
  }
  
  form.ff-form {
  padding: 0px 30px !important;
  background-color: transparent !important;


  textarea.ff-widget-control.rest-form-control {
    box-shadow: none !important;
  }
  
}

.rest-form-group {

  label:not(.ff-form-check-label) {
    color: $darkRed !important;
    font-size: 0.9rem;
  }

  input[type=text].ff-widget-control.rest-form-control, .ff-form input[type="text"]:focus, .ff-form input[type="date"]:focus, .ff-form input[type="datetime-local"]:focus, .ff-form input[type="email"]:focus, .ff-form input[type="number"]:focus, .ff-form input[type="search"]:focus, .ff-form input[type="time"]:focus, .ff-form input[type="file"]:focus, .ff-form input[type="url"]:focus, .ff-form input[type="label"]:focus, .ff-form textarea:focus, .ff-form select:focus {
    box-shadow: none !important;
    
  }

}

.ff-widget-control, .rest-form-control {
  background: $inputBackground !important;
  
  
}

.ff-widget-control.ff-check-table{
  background: none!important;
  div {
    padding-right: 20px;
    background: $inputBackground !important;

  }

  input {
    accent-color: $darkRed;
  }
  .ff-form-check:has(input:checked){
    background-color: #56012e5c !important;
    border-color: $darkRed !important;
  }

} 

